.price-services {
    &__title {
        text-align: center;
        margin-bottom: 44px;
    }
    &__list {
        display: flex;
        gap: 42px;
    }
    &__column {
        display: flex;
        flex-direction: column;
        gap: 36px;
    }
}
.price-services-table {
    border: 2px solid $burlyWood;
    border-radius: 16px;
    // &[data-area=A] {
    //     grid-area: A;
    // }
    // &[data-area=B] {
    //     grid-area: B;
    // }
    &__header {
        padding: 16px 0;
        text-align: center;
        background-color: $ginFizz;
        border-radius: 16px 16px 0 0;
    }
    &__row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        &:not(:first-child) {
            border-top: 2px solid $burlyWood;
        }
    }
    &__column {
        padding: 12px 30px;
        display: flex;
        align-items: center;
        &:not(:last-child) {
            border-right: 2px solid $burlyWood;
        }
        &:last-child {
            justify-content: center;
        }
    }
}