.reviews {
    &__comment-text {
        margin: 42px auto 0;
    }
}
.reviews-slider {
    &__wrapper {
        display: flex;
    }
    &__item {
        flex-shrink: 0;
        display: grid;
        gap: 8px;
        grid-template-rows: auto 1fr;
        padding: 24px;
        background-color: $creamy;
        width: 588px;
        height: 366px;
        border-radius: 25px;
    }
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__title {
        color: $orange;
        font-size: rem($bigTextSize);
        font-weight: $fontWeightMedium;
    }
    &__date {
        color: $gray;
        font-size: rem($smallTextSize);
    }
    &__text {
        font-size: rem($mediumTextSize);
        line-height: 1.7;
    }
}
.comment-text {
    display: flex;
    gap: 24px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 522px;
    &__text {
        color: $gray;
        font-size: rem($mediumTextSize);
        text-align: center;
        line-height: 1.7;
    }
}