.we-deals {
    &__body {
        position: relative;
        padding: 70px 145px;
        border-radius: 42px;
        background-color: $creamy;
    }
    &__decor {
        position: absolute;
        inset: 0;
        background-image: url('../../img/we_deals/decor.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    &__title {
        margin-bottom: 44px;
        text-align: center;
        position: relative;
        z-index: 1;
    }
    
    &__text {
        display: flex;
        flex-wrap: wrap;
        gap: 60px 30px;
        font-size: $bigTextSize;
        font-weight: $fontWeightMedium;
        color: $orange;
    }


}

.we-deals-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    justify-content: center;
    $rotate:0deg;
    &__row {
        width: 100%;
        display: flex;
        gap: 32px;
        &--end {
            justify-content: end;
        }
        &--center {
            justify-content: center;
        }
    }
    &__item {
        $custom-value: attr(data-rotate);
        rotate: $rotate;
    }
}
.we-deals-list-item {
    padding: 0 10px;
    position: relative;
    width: fit-content;
    min-width: 150px;
    &::before, &::after {
        content: "";
        position: absolute;
        top: 0;
        height: 100%;
        width: 14px;
        background-image: url('../../img/we_deals/decor_1.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 88%;
    }
    &::before {
        left: -2px;
        scale: -1 1;
        filter: drop-shadow(4px 0px 3px rgba(235, 94, 40, 0.25))
    }
    &::after {
        right: 2px;
    }
    &__text {
        padding: 19px 22px;
        color: $orange;
        font-size: rem($bigTextSize);
        font-weight: $fontWeightMedium;
        text-align: center;
        white-space: nowrap;
        background-color: $white;
        box-shadow: -1px 4px 23px 0px rgba(235, 94, 40, 0.25);
    }
    &--orange {
        &::before, &::after {
            content: "";
            position: absolute;
            top: 0;
            height: 100%;
            width: 14px;
            background-image: url('../../img/we_deals/decor_orange.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
        &::before {
            left: 0;
            scale: -1 1;
        }
        &::after {
            right: 0;
        }
        .we-deals-list-item {
            &__text {
                padding: 19px 22px;
                color: $white;
                font-weight: $fontWeightMedium;
                background-color: $orange;
            }
        }
    }
}